/* (CSS yang sudah ada tetap ada di sini) */

.about-us-section {
  text-align: center;
  padding: 40px;
}

.section-header {
  margin-bottom: 20px;
}

.team-members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  max-width: 300px;
  margin: 20px;
}

.team-member img {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* Untuk membulatkan foto */
}

/* Css login User */
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

form {
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  /* Menetapkan box-sizing ke border-box */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Tambahan gaya untuk memperbaiki ukuran checkbox dan lupa kata sandi link */
.form-check-input {
  margin-top: 0.25rem;
}

.row.mb-4 {
  align-items: center;
}

.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}
